html {
    font: 15pt Arial;
}
body {
    background: url("wallpaper-php.jpg") no-repeat top center fixed; /*link de imagem*/
    background-size: cover;
}

div::before {
    content: " meus primeirostestes - by Roniel Pereira Leite ";  /*barrinha do cabeçalho*/
    font: 10pt Arial;
    font-weight: bold;
    color: white;
    background-color: #273747;
    padding: 5px;
    display: block;
    position: relative;
    top: -10px;
    left: -10px; 
    width: 560px;
}

div {
    background-color: rgba(255,255,255,.8);
    margin: 100px auto 100px auto;
    padding: 10px;
    width: 550px;
    min-height:300px;
}

a {
    color: #273747;
    text-decoration: none;
    font-weight: bold;
    font: 11pt Helvetica;
}

a:hover {
    text-decoration: underline;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}

@media screen and (max-width: 768px){  /*tamanho de tela prara tablet*/
	div{
		margin: 0 0 0 0;
		width: 97%;
						
	}
}
@media acreen and (max-height: 600px){ /*tamanho de tela prara celular*/
	body{
		margin: 0 0 0 0;
		text-align: center;
		width 97%;
	}
	div{
		margin: 0 0 0 0;
		text-align: center;
		width 97%;
	}
} 